
<p class="text-danger" *ngIf="!carro"> NO EXISTE EL VEHÍCULO </p>

<div class="card">
  <div class="card-header">
    <h2> Vehículo {{carro?.marca}} {{carro?.modelo}} </h2>
  </div>

<div class="card-body">

  <div class="row">

<div class="col-6">

<img src="{{carro?.image}}" alt="{{carro?.modelo}}">
<p>
 Color: {{carro?.color}}
</p>
<p>
  {{carro?.kilometraje  }} km
</p>
<p>
 Año: {{carro?.anio}}

</p>

<p>
  Calificación: {{carro?.calificacion}}
</p>

<p>
  Precio: {{carro?.precio }}
  
</p>
</div>

</div>

<div class="col-md-4 mb-4 ms-3">
  <button class="btn btn-secondary" [routerLink]="['/']" > Volver</button>
</div>

</div>
</div>
